<!DOCTYPE html>
<html lang="pt-br" ng-app="Formulario">
    <head>
        <meta charset="UTF-8">
        <title>AngularJS</title>

        <style type="text/css">
            form input.ng-dirty.ng-invalid{
                border: 2px solid red;
            }
            form input.ng-dirty.ng-valid{
                border: 2px solid green;
            }
        </style>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    </head>
    <body ng-controller="FormController">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
                
            <form name="f" ng-submit="salvar(formulario)">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" ng-model="formulario.nome" name="nome" placeholder="Nome" required="">
                  <div ng-show="f.nome.$touched">
                    <li class="list-group-item list-group-item-danger" ng-show="f.nome.$error.required">Este campo é obrigatório</li>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="email" class="form-control" ng-model="formulario.email"  name="email" placeholder="E-Mail" required="">
                    <div ng-show="f.email.$touched">
                        <li class="list-group-item list-group-item-danger" ng-show="f.email.$error.required">Este campo é obrigatório</li>
                    </div>
                    <div ng-show="f.email.$touched">
                        <li class="list-group-item list-group-item-danger" ng-show="f.email.$error.email">Este campo é um E-Mail</li>
                    </div>
                </div>

                <div class="form-group">
                    <label for="genero">Genero</label>
                    <div class="radio">
                      <label>
                        <input type="radio" value="masculino" ng-model="formulario.genero" > Masculino
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" value="feminino" ng-model="formulario.genero"> Feminino
                      </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="button" class="btn btn-warning" ng-click="reset()" value="Cancelar">

                    <input type="submit" class="btn btn-primary" value="Enviar" ng-disabled="f.$invalid"></input>
                </div>
            </form>
            <hr>
            <pre>
                {{formulario}}
            </pre>
            
            <hr>
            <pre>
                {{salvo}}
            </pre>

        </div><!-- /.container -->

        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>